
@import url('https://fonts.googleapis.com/css2?family=Niconne&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ms+Madi&display=swap');

body {
  background-color: #fffaf0;
  text-align: center;
  font-family: 'Niconne', cursive;
  font-size: 10px;
}


#coffeetwo {
  width:100px;
  height:100px;
  object-position:left top;
}

#specialPara {
 font-size:35px; font-family: 'Niconne', cursive;
}

#specialtitle{
  font-size: 30px; font-family: 'Ms Madi', cursive;
}
